


.container {
    background: rgb(145, 226, 188);
    height: auto;
    width: 270px;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px #32917d;
    align-items: center;
}

.review_items {
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    padding: 10px;
    align-items: center;
}

 img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    box-shadow:border-box 5px 5px 5px #32917d;
}

.review_items h1 {
    font-family: poppins, sans-serif;
    font-size: 20px;
}

.review_items p {
    font-family: poppins, sans-serif;
    font-size: 14px;
}

.review_button {
    text-align: center;
    padding: 10px;
}

.review_button button {
    color: rgb(181, 229, 192);
    background: green;
    font-weight: bold;
}

.review_items {
    display: none;
}